body{
    text-align: center;
    background-color: pink;
}

h1{
    font-size: 40px;
    text-decoration: underline tan;
}
li{
    font-size: 20px;;
    padding: 10px;
    transition-duration: 0.7s;
    color: firebrick;

}
li:hover{
    font-size: 40px;
}

img{
    padding-top: 10px;
    
    transition-duration: .6s;
    border-radius: 40px;
    width: 250px;
    height: 250px;
  
}
img:hover{
    width: 500px;
    
}

